
body
{
	background-color: #e6e6ff;
	margin: 50px;
}

article
{
	width: 50%;
}

aside
{
  float: right;
  width: 50%;
}

h1
{
	text-align: center;
	border: 2px solid powderblue;
}

div
{
	border: 2px solid powderblue;
}

p
{
	padding-right: 40px;
}